* {
    background-color: antiquewhite;
}

h1{
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
display: flex;
margin: 0.5rem;
}

#renderResults{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
}